html {
    margin:    0 auto;
    max-width: 600px;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300;
  color: #243636;
  line-height: 1.5;
}

h1, h2, h3, b, th {
  font-family: 'Merriweather', serif;
  font-weight: 900;
}

table {
  text-align: left;
  display: block;
  width: calc(400px * 5);
}

td, th {
  padding-right:24px;
  padding-left:24px;
  width: 400px;
}

.container {
  padding-right: 12px;
  padding-left: 12px;
}

.table-container {
  overflow-x: scroll;
}
